<header>
    <div class="relative bg-cover bg-center bg-no-repeat bg-white">
        <div class="container px-4 flex flex-wrap p-0 items-center justify-between md:justify-around bg-white">
            <a href="/" class="text-center">
                <img class="w-[243px]"
                    src="https://www.christofle.com/fstrz/r/s/c/www.christofle.com/media/logo/default/logo_christofle.png.avif?frz-v=4837"
                    alt="">
            </a>
        </div>
        <div class="text-xs bg-black mb-10">
            <div class="container px-4 flex flex-wrap justify-center text-white text-xs gap-12">
                <a href="#"
                    class="py-5 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:transition-all after:duration-500 after:w-0 after:bg-white after:h-1 hover:after:w-full">SPECIAL
                    OFFER</a>
                <a href="#"
                    class="py-5 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:transition-all after:duration-500 after:w-0 after:bg-white after:h-1 hover:after:w-full">GIFT</a>
                <a href="#"
                    class="py-5 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:transition-all after:duration-500 after:w-0 after:bg-white after:h-1 hover:after:w-full">COVERED</a>
                <a href="#"
                    class="py-5 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:transition-all after:duration-500 after:w-0 after:bg-white after:h-1 hover:after:w-full">JEWELRY
                    AND ACCESSORIES</a>
                <a href="#"
                    class="py-5 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:transition-all after:duration-500 after:w-0 after:bg-white after:h-1 hover:after:w-full">CHILDREN</a>
                <a href="#"
                    class="py-5 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:transition-all after:duration-500 after:w-0 after:bg-white after:h-1 hover:after:w-full">TABLE
                    ART</a>
                <a href="#"
                    class="py-5 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:transition-all after:duration-500 after:w-0 after:bg-white after:h-1 hover:after:w-full">BAR</a>
                <a href="#"
                    class="py-5 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:transition-all after:duration-500 after:w-0 after:bg-white after:h-1 hover:after:w-full">DECORATION</a>
                <a href="#"
                    class="py-5 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:transition-all after:duration-500 after:w-0 after:bg-white after:h-1 hover:after:w-full">PRODUCTS</a>
            </div>
        </div>
    </div>
</header>